<!doctype html>

<html lang="en">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
	<script src="./sudokuSolver.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="sudokuSolver.css"></link>
</head>
<body>
	<div class="container" ng-app="sudokuSolver" ng-controller="sudokuController">
		<table>
			<tr ng-repeat="(i,row) in grid track by $index">
				<td ng-repeat="(j,cell) in row track by $index" class="cell">
					<input type="text" placeholder="0" ng-disabled="dsbld" class="cell" ng-model="grid[i][j].val"></input>
				</td>
			</tr>
		</table>
		<button ng-click="clear()">Clear</button>
		<button ng-click="do()">Solve</button>
	</div>
</body>
